/*
Colors, fonts & reset
*/

$main-title: #4e5150;
$sub-title: #333333;
$btn-price: #f2994a;

$form-title: #4f4f4f;
$form-placeholder: #828282;

$background-nbr-article: #e0e0e0;

$background-price: #f2f2f2;

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*
  Main area
*/

.grid-container {
  display: grid;
  grid-template-columns: minmax(150px, 1fr);
  margin: 1em;

  h1 {
    grid-row: 1 / 2;
    color: $main-title;
    font-size: 1.5em;
    margin-bottom: 0.8em;
  }
}

form {
  display: flex;
  flex-direction: column;

  h2 {
    color: $sub-title;
    font-size: 1.2em;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  input {
    width: 100%;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }

  input[type="checkbox"] {
    width: inherit;
  }

  @mixin iconStyle {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2.5em;
    height: 2.3em;
    border: 0.09em solid #bdbdbd;
    border-radius: 0.3em;
  }

  .email {
    @include iconStyle;
    background-image: url("../icons/markunread_mailbox-24px.svg");
  }
  .tel {
    @include iconStyle;
    background-image: url("../icons/call-24px.svg");
  }
  .name {
    @include iconStyle;
    background-image: url("../icons/account_circle-24px.svg");
  }
  .address {
    @include iconStyle;
    background-image: url("../icons/home-24px.svg");
  }
  .city {
    @include iconStyle;
    background-image: url("../icons/location_city-24px.svg");
  }
  .postal-code {
    @include iconStyle;
    width: 99%;
    background-image: url("../icons/public-24px.svg");
  }

  .form-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    flex-wrap: wrap;
    align-items: center;

    .select-country {
      flex-basis: 50%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      label {
        width: 100%;
        text-align: center;
      }

      select {
        height: 2.3em;
        padding-left: 2.5em;
        margin-bottom: 1em;
        margin-top: 0.5em;
      }
    }

    .input-postal-code {
      flex-basis: 50%;
    }
  }

  button {
    width: 40%;
    align-self: end;
  }
}

.checkout-container {
  grid-row: 2 / 3;
  background: $background-price;
  border-radius: 0.5em;
}

.inner-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  max-width: 385px;
  max-height: 535px;
  margin: 1em;

  h2 {
    color: $main-title;
    display: inline;
    font-size: 1em;
    font-weight: normal;
  }

  img {
    width: 100%;
    max-width: 175px;
    max-height: 135px;
    border-radius: 0.5em;
  }

  .details-article {
    display: flex;
    flex-wrap: wrap;

    .new-price {
      color: $btn-price;
      margin-right: 1em;
    }

    .old-price {
      color: $main-title;
      text-decoration: line-through;
    }

    .click {
      display: flex;
      justify-content: space-around;
      width: 70%;
      height: min-content;
      background: transparent;
      border: 0.1em solid $form-placeholder;
      border-radius: 0.2em;
      padding: 0.5em;

      input {
        background: transparent;
        width: 20%;
        border: none;
      }

      .nbr-article {
        background: $background-nbr-article;
        padding: 0.2em;
      }
    }
  }
}

.price-part {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  border-top: 1px solid #bdbdbd;
  color: #333333;

  p:nth-child(1) {
    color: $sub-title;
    font-weight: bold;
  }

  p:nth-child(2) {
    font-size: 0.8em;
  }
}

.invalid {
  display: none;
  color: red;
}

.valid {
  color: green;
}
