/*
Colors, fonts & reset
*/

$main-title: #4E5150;
$sub-title: #333333;
$btn-price: #F2994A;

$form-title: #4F4F4F;
$form-placeholder: #828282;

$background-nbr-article : #E0E0E0;

$background-price: #F2F2F2;

@font-face {
  font-family : 'Montserrat';
  src: url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

/*
  Main area
*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1em;

  h1 {
    grid-row: 1 / 2;
    color: $main-title;
    font-size: 1.5em;
    margin-bottom: 0.8em;
  }
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;

  h2 {
    color: $sub-title;
    font-size: 1.2em;

  }

  .email {
    background-color: transparent;
    background-image: url('../icons/markunread_mailbox-24px.svg');
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2.5em;
    height: 2.3em;
    border: 0.09em solid #BDBDBD;
    border-radius: 0.3em;
  }

  .tel {
    background-color: transparent;
    background-image: url('../icons/call-24px.svg');
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2.5em;
    height: 2.3em;
    border: 0.09em solid #BDBDBD;
    border-radius: 0.3em;
  }

  .name {
    background-color: transparent;
    background-image: url('../icons/account_circle-24px.svg');
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2.5em;
    height: 2.3em;
    border: 0.09em solid #BDBDBD;
    border-radius: 0.3em;
  }

  .address {
    background-color: transparent;
    background-image: url('../icons/home-24px.svg');
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2.5em;
    height: 2.3em;
    border: 0.09em solid #BDBDBD;
    border-radius: 0.3em;
  }

  .city {
    background-color: transparent;
    background-image: url('../icons/location_city-24px.svg');
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2.5em;
    height: 2.3em;
    border: 0.09em solid #BDBDBD;
    border-radius: 0.3em;
  }

  .postal-code {
    width: 99%;
    background-color: transparent;
    background-image: url('../icons/public-24px.svg');
    background-repeat: no-repeat;
    background-position: 0.5em center;
    padding-left: 2.5em;
    height: 2.3em;
    border: 0.09em solid #BDBDBD;
    border-radius: 0.3em;
  }

  .btn-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    flex-wrap: wrap;

    .part1 {
      flex-basis: 50%;
    }

    .part2 {
      flex-basis: 50%;
    }
  }

  button {
    width: 40%;
    align-self: end;
  }
}

.payment-block {
  grid-row: 2 / 3;
  background: $background-price;
  border-radius: 0.5em;

}

.inner-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  max-width: 385px;
  max-height: 535px;
  margin: 1em;

   h2 {
    color: $main-title;
    display: inline;
    font-size: 1em;
    font-weight: normal;
  }

  img {
    width: 100%;
    max-width: 175px;
    max-height: 135px;
    border-radius: 0.5em;
  }

  .right-part {
    display: flex;
    flex-wrap: wrap;

    .new-price{
      color: $btn-price;
      margin-right: 1em;
    }

    .old-price{
      color: $main-title;
      text-decoration: line-through;
    }

    .click {
      display: flex;
      justify-content: space-around;
      width: 70%;
      height: min-content;
      background: transparent;
      border: 0.1em solid $form-placeholder;
      border-radius: 0.2em;
      padding: 0.5em;


      input {
        background: transparent;
        width: 20%;
        border: none;
      }

      .nbr-article {
        background: $background-nbr-article;
        padding: 0.2em;
      }
    }
  }
}

.price-part{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 1em;
  border-top: 1px solid #BDBDBD;
  color: #333333;

  p:nth-child(1){
    color: $sub-title;
    font-weight: bold;
  }

  p:nth-child(2){
    font-size: 0.8em;
  }
}







